.navbar {
    height: 100px;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.navbar-elements {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-elements ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-elements ul li {
    margin: 0 10px;
    background-color: #888888;
    padding: 15px;
    border-radius: 5px;
}

.navbar-elements ul li:hover {
    cursor: pointer;
    background-color: #666666;
}

.navbar-elements ul li p {
    color: white;
}
